@model TrainViewModel
@using FoxholeTrainLogistics.Trains;

<div style="border: 1px solid black; border-radius: 8px; padding: 5px; margin-bottom: 5px; min-height: 100px; display: flex; flex-direction: column">
    <span>@Model.Train.TrainId</span>
    <div style="margin-top: 5px; margin-bottom: 5px;">
        @foreach(TrainCar c in Model.Train.Cars) {
            var src = "../img/" + c.Image();
            <button class="ftl-interact ftl-button" style="">
                <img src="@src" class="ftl-icon" />
            </button>
        }
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="ftl-interact ftl-chip">@Model.NumberOfCars Cars</button>

        @{
            if (@Model.Train.Status == TrainStatus.Parked) {
                <button type="button" class="ftl-interact ftl-chip alert-info">Status: @Model.StatusDisplayName</button>
            }
            if (@Model.Train.Status == TrainStatus.InTransit) {
                <button type="button" class="ftl-interact ftl-chip alert-success">Status: @Model.StatusDisplayName</button>
            }
            if (@Model.Train.Status == TrainStatus.Stopped)
            {
                <button type="button" class="ftl-interact ftl-chip alert-danger">Status: @Model.StatusDisplayName</button>
            }
        }
    </div>
</div>
