@model TrainViewModel
@using FoxholeTrainLogistics.Trains;

<!-- Import Train Creation Factory-->

<!-- having an issue where the <script> tag won't run when the page loads. I need it in order to iterate over the train cars and spawn them
    in the train-container-->
<script src="~/js/trainsFactory.js"/>

<div style="border: 1px solid black; border-radius: 8px; padding: 5px; margin-bottom: 5px; min-height: 100px; display: flex; flex-direction: column">
    <span>@Model.Train.TrainId</span>
    <div id="train-container" style="margin-top: 5px; margin-bottom: 5px;"></div>
    
        <div class="btn-group" role="group">
            <button type="button" class="ftl-interact ftl-chip" onclick="() => render()">@Model.NumberOfCars Cars</button>
    
            @{
            if (@Model.Train.Status == TrainStatus.Parked) {
                <button type="button" class="ftl-interact ftl-chip alert-info">Status: @Model.StatusDisplayName</button>
            }
            if (@Model.Train.Status == TrainStatus.InTransit) {
                <button type="button" class="ftl-interact ftl-chip alert-success">Status: @Model.StatusDisplayName</button>
            }
            if (@Model.Train.Status == TrainStatus.Stopped)
            {
                <button type="button" class="ftl-interact ftl-chip alert-danger">Status: @Model.StatusDisplayName</button>
            }
            }
        </div>
</div>
